.choosetemplatebody{
    padding:5px;
    box-sizing: border-box;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}
.choosetemplateheading{
    color: white;
   margin: auto;
    font-size: 16px;
    font-weight:bolder;
    padding: 16px 32px;
    display:none
}
.templategallery{
    display:flex;
    flex-direction: column;
    gap: 35px;
}
.container {
    margin: auto;
    position: relative;
    width: 70%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 600;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgb(7, 74, 50);
    color: white;
    font-size: 16px;
    font-weight:bolder;
    padding: 16px 32px;
  }